<div class="cover-user-show">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
        <% @entries.each do |e| %>
        <% if @myUserId != e.user.id %>
            <h2><%= link_to user_path(e.user) do %><%= e.user.name %>さん<% end %>とのトークルーム</h2>
        <% end %>
        <% end %>
    </div>

    <div class="chat mt-3">
        <% if @messages.present? %>
            <% @messages.each do |m| %>
                <% if m.user.id == current_user.id %>
                    <p class="me"><%= m.message %></p>
                <% else %>
                    <p class="you"><%= m.message %></p>
                <% end %>
            <% end %>
        <% end %>
    </div>

        <%= form_for @message do |f| %>
            <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 50, class:"form-text-field" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "送信する",class: 'form-submit'%>
        <% end %>
    </div>
</div>